WebService/WebContent/wsdl/Server.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fahrenheitTocelsius">
    <complexType>
     <sequence>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="fahrenheitTocelsiusResponse">
    <complexType>
     <sequence>
      <element name="fahrenheitTocelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fahrenheitTocelsiusResponse">

      <wsdl:part element="impl:fahrenheitTocelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fahrenheitTocelsiusRequest">

      <wsdl:part element="impl:fahrenheitTocelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Server">

      <wsdl:operation name="fahrenheitTocelsius">

         <wsdl:input message="impl:fahrenheitTocelsiusRequest" name="fahrenheitTocelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:fahrenheitTocelsiusResponse" name="fahrenheitTocelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServerSoapBinding" type="impl:Server">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fahrenheitTocelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fahrenheitTocelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fahrenheitTocelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServerService">

      <wsdl:port binding="impl:ServerSoapBinding" name="Server">

         <wsdlsoap:address location="http://localhost:8080/WebService/services/Server"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
